langchain
langchain-community
langchain-groq
langchain-google-genai
langchain-mistralai
langchain-openai
langchain-huggingface
requests
python-dotenv
fastapi
uvicorn
python-multipart
pydantic